PREPROCESSING DATA TRENDS DENGAN MAYORITAS ATRIBUT KATEGORIK
- cleaning data
- analisis data
- mengatasi mising value
- mengatasi outlier
- mengatasi duplikasi

A. Import dataset

In [54]:
import os
import pandas as pd

data_folder = "/Users/althaaframadhan/Documents/Skripsi/dataset/Viral_Social_Media_Trends - Kategorik.csv"
csv_files = [os.path.basename(data_folder)]
dataframes = {}

# Read the CSV file into a dataframe
df_name = os.path.splitext(csv_files[0])[0]
dataframes[df_name] = pd.read_csv(data_folder)

B. Melihat 10 baris awal dataset untuk dilakukan analisis bentuk dataset

In [55]:
df = dataframes['Viral_Social_Media_Trends - Kategorik']
print(df.head(5))

    Platform     Hashtag Content_Type     Region    Views   Likes  Shares  \
0     TikTok  #Challenge        Video         UK  4163464  339431   53135
1  Instagram  #Education       Shorts      India  4155940  215240   65860
2    Twitter  #Challenge        Video     Brazil  3666211  327143   39423
3    YouTube  #Education       Shorts  Australia   917951  127125   11687
4     TikTok      #Dance         Post     Brazil    64866  171361   69581

   Comments Engagement_Level
0     19346             High
1     27239           Medium
2     36223           Medium
3     36806              Low
4      6376           Medium

C. Melihat atribut dan bentuk nilai setiap atribut

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Platform          5000 non-null   object
 1   Hashtag           5000 non-null   object
 2   Content_Type      5000 non-null   object
 3   Region            5000 non-null   object
 4   Views             5000 non-null   int64
 5   Likes             5000 non-null   int64
 6   Shares            5000 non-null   int64
 7   Comments          5000 non-null   int64
 8   Engagement_Level  5000 non-null   object
dtypes: int64(4), object(5)
memory usage: 351.7+ KB

In [57]:
print("duplikasi :", df.duplicated().sum())

duplikasi : 0

In [58]:
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Platform, Hashtag, Content_Type, Region, Views, Likes, Shares, Comments, Engagement_Level]
Index: []

pada df.info() memberikan output nama atribut, dan setiap atribut memiliki 5000 nilai data dan tidak ada missing values dan duplikasi data

D. subset data menjadi 200 data yang akan digunakan pada pengembangan model

In [59]:
df = dataframes['Viral_Social_Media_Trends - Kategorik']
trends_raw = df.copy()
trends_subset = trends_raw.sample(n=200, random_state=42).reset_index(drop=True)
trends_subset.to_csv("/Users/althaaframadhan/Documents/Skripsi/Penelitian/preprocessing/trends_200.csv", index=False)

print("Subset created and saved successfully.")

Subset created and saved successfully.

E. menampilkan 10 data awal dari 200 data yang telah diambil secara acak dari dataset awal

In [60]:
trends_subset = pd.read_csv("/Users/althaaframadhan/Documents/Skripsi/Penelitian/preprocessing/trends_200.csv")
print(trends_subset.head(10))

    Platform     Hashtag Content_Type   Region    Views   Likes  Shares  \
0  Instagram     #Comedy        Video   Canada  3239663  288436   94297
1  Instagram  #Education         Post    Japan  3759036   49515   94487
2  Instagram     #Gaming       Shorts   Brazil  3697216  209784   41633
3     TikTok    #Fitness         Post   Brazil  2878436  149765    9840
4     TikTok    #Fashion  Live Stream  Germany  1213710  468518    1746
5    YouTube      #Music        Tweet       UK  2750317   59766   75524
6    YouTube     #Gaming        Video    Japan  1180149  286650    1000
7    Twitter    #Fashion         Reel   Canada  4856986  291395   99817
8    Twitter      #Viral         Post   Canada  1705105   53294   74926
9     TikTok  #Education        Tweet       UK  4070028  212737   50214

   Comments Engagement_Level
0      5399             High
1     19525           Medium
2     19831           Medium
3     42118             High
4     24547             High
5     27938             High
6     27032             High
7      7707             High
8     48281             High
9     25262              Low

In [61]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [62]:
print(trends_subset.info())
print("duplikasi :", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Platform          200 non-null    object
 1   Hashtag           200 non-null    object
 2   Content_Type      200 non-null    object
 3   Region            200 non-null    object
 4   Views             200 non-null    int64
 5   Likes             200 non-null    int64
 6   Shares            200 non-null    int64
 7   Comments          200 non-null    int64
 8   Engagement_Level  200 non-null    object
dtypes: int64(4), object(5)
memory usage: 14.2+ KB
None
duplikasi : 0

F. cek outliers pada data

In [63]:
import numpy as np

def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower, upper = Q1 - 1.5 * IQR, Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower) | (df[column] > upper)]
    return outliers

numeric_trends = trends_subset.select_dtypes(include=np.number).columns


for col in numeric_trends:
    out = detect_outliers_iqr(trends_subset, col)
    print(f"{col}: {len(out)} outliers")

Views: 0 outliers
Likes: 0 outliers
Shares: 0 outliers

Comments: 0 outliers

output memberikan bahwa tidak ada outlier dari 200 dataset trends tersebut