Transformasi dataset 
nilai kategorikal menjadi numerikal

In [2]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder

A. import dataset yang telah dilakukan preprocessing

In [3]:
df_students = pd.read_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/preprocessing/students_200.csv")
df_trends   = pd.read_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/preprocessing/trends_200.csv")

B. meliohat 5 baris data dan bentuk dari dataset students

In [4]:
print(df_students.head(),df_students.shape)

   Age  Gender Academic_Level     Country  Avg_Daily_Usage_Hours  \
0   20  Female  Undergraduate      France                    3.0
1   19  Female  Undergraduate  Azerbaijan                    4.8
2   22  Female       Graduate  Kyrgyzstan                    2.9
3   19  Female  Undergraduate  Bangladesh                    4.2
4   22    Male       Graduate     Germany                    3.1

  Most_Used_Platform Affects_Academic_Performance  Sleep_Hours_Per_Night  \
0          Instagram                           No                    9.0
1             TikTok                          Yes                    5.7
2           Facebook                           No                    7.0
3          Instagram                          Yes                    7.8
4           Facebook                           No                    8.4

   Mental_Health_Score  Conflicts_Over_Social_Media  Addicted_Score
0                    7                            2               5
1                    6                            3               7
2                    7                            2               5
3                    5                            3               7
4                    8                            1               4   (200, 11)

B. melihat 5 baris data dan bentuk dari dataset students

In [5]:
print(df_trends.head(),df_trends.shape)

    Platform     Hashtag Content_Type   Region    Views   Likes  Shares  \
0  Instagram     #Comedy        Video   Canada  3239663  288436   94297
1  Instagram  #Education         Post    Japan  3759036   49515   94487
2  Instagram     #Gaming       Shorts   Brazil  3697216  209784   41633
3     TikTok    #Fitness         Post   Brazil  2878436  149765    9840
4     TikTok    #Fashion  Live Stream  Germany  1213710  468518    1746

   Comments Engagement_Level
0      5399             High
1     19525           Medium
2     19831           Medium
3     42118             High
4     24547             High   (200, 9)

Melakukan perubahan nilai data ketegorik menjadi numerik menggunakan ordinalencoder pada dataset students

In [6]:
# Baca dataset
df_students = pd.read_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/preprocessing/students_200.csv")

# Bersihkan nama kolom
df_students.columns = df_students.columns.str.strip()

# Pilih kolom kategorik (object/category)
cat_cols = df_students.select_dtypes(include=['object', 'category']).columns.tolist()
print("Kolom kategorik:", cat_cols)

# Inisialisasi encoder
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# Fit & transform hanya kolom kategorik
df_students[cat_cols] = encoder.fit_transform(df_students[cat_cols])

# Convert ke Int64 agar tidak ada 1.0 menjadi 1.0 (float)
for col in cat_cols:
    df_students[col] = df_students[col].astype('Int64')

# Cek hasil transformasi
print(df_students.head())
print("\nTipe data setelah transformasi:")
print(df_students.dtypes)

Kolom kategorik: ['Gender', 'Academic_Level', 'Country', 'Most_Used_Platform', 'Affects_Academic_Performance']
   Age  Gender  Academic_Level  Country  Avg_Daily_Usage_Hours  \
0   20       0               2       17                    3.0
1   19       0               2        4                    4.8
2   22       0               0       26                    2.9
3   19       0               2        6                    4.2
4   22       1               0       18                    3.1

   Most_Used_Platform  Affects_Academic_Performance  Sleep_Hours_Per_Night  \
0                   1                             0                    9.0
1                   6                             1                    5.7
2                   0                             0                    7.0
3                   1                             1                    7.8
4                   0                             0                    8.4

   Mental_Health_Score  Conflicts_Over_Social_Media  Addicted_Score
0                    7                            2               5
1                    6                            3               7
2                    7                            2               5
3                    5                            3               7
4                    8                            1               4

Tipe data setelah transformasi:
Age                               int64
Gender                            Int64
Academic_Level                    Int64
Country                           Int64
Avg_Daily_Usage_Hours           float64
Most_Used_Platform                Int64
Affects_Academic_Performance      Int64
Sleep_Hours_Per_Night           float64
Mental_Health_Score               int64
Conflicts_Over_Social_Media       int64
Addicted_Score                    int64
dtype: object

In [7]:
df_students.to_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/preprocessing/students_200", index=False)
for col, cats in zip(cat_cols, encoder.categories_):
    mapping = {cat: i for i, cat in enumerate(cats)}
    print(f"{col}: {mapping}")

Gender: {'Female': 0, 'Male': 1}
Academic_Level: {'Graduate': 0, 'High School': 1, 'Undergraduate': 2}
Country: {'Afghanistan': 0, 'Andorra': 1, 'Argentina': 2, 'Australia': 3, 'Azerbaijan': 4, 'Bahrain': 5, 'Bangladesh': 6, 'Brazil': 7, 'Canada': 8, 'China': 9, 'Croatia': 10, 'Cyprus': 11, 'Czech Republic': 12, 'Denmark': 13, 'Ecuador': 14, 'Estonia': 15, 'Finland': 16, 'France': 17, 'Germany': 18, 'Greece': 19, 'India': 20, 'Iraq': 21, 'Ireland': 22, 'Italy': 23, 'Jamaica': 24, 'Japan': 25, 'Kyrgyzstan': 26, 'Latvia': 27, 'Liechtenstein': 28, 'Luxembourg': 29, 'Malaysia': 30, 'Maldives': 31, 'Mexico': 32, 'Montenegro': 33, 'Morocco': 34, 'Nepal': 35, 'Netherlands': 36, 'New Zealand': 37, 'Nigeria': 38, 'North Macedonia': 39, 'Pakistan': 40, 'Panama': 41, 'Paraguay': 42, 'Philippines': 43, 'Poland': 44, 'Romania': 45, 'Russia': 46, 'Singapore': 47, 'South Korea': 48, 'Spain': 49, 'Sri Lanka': 50, 'Switzerland': 51, 'Tajikistan': 52, 'Thailand': 53, 'Trinidad': 54, 'Turkey': 55, 'UAE': 56, 'UK': 57, 'USA': 58, 'Ukraine': 59, 'Uzbekistan': 60, 'Vietnam': 61}
Most_Used_Platform: {'Facebook': 0, 'Instagram': 1, 'KakaoTalk': 2, 'LINE': 3, 'LinkedIn': 4, 'Snapchat': 5, 'TikTok': 6, 'Twitter': 7, 'VKontakte': 8, 'WeChat': 9, 'WhatsApp': 10, 'YouTube': 11}
Affects_Academic_Performance: {'No': 0, 'Yes': 1}

Pada output code diatas menampilkan nilai nilai yantelah diubah dari kategorik menjadi numerik, setiap nulai numerik mmeberikan inisialiosasi pada nilai kategorik

In [8]:
df_students.to_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/transformation/students_ctn.csv", index=False)

Tahap ini melakukan transformasi nilai data pada dataset rends

In [9]:
# Baca dataset
df_trends = pd.read_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/preprocessing/trends_200.csv")

# Bersihkan nama kolom
df_trends.columns = df_trends.columns.str.strip()

# Pilih kolom kategorik (object/category)
cat_cols = df_trends.select_dtypes(include=['object', 'category']).columns.tolist()
print("Kolom kategorik:", cat_cols)

# Inisialisasi encoder
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

# Fit & transform hanya kolom kategorik
df_trends[cat_cols] = encoder.fit_transform(df_trends[cat_cols])

# Convert ke Int64 agar tidak ada 1.0 menjadi 1.0 (float)
for col in cat_cols:
    df_trends[col] = df_trends[col].astype('Int64')

# Cek hasil transformasi
print(df_trends.head())
print("\nTipe data setelah transformasi:")
print(df_trends.dtypes)

Kolom kategorik: ['Platform', 'Hashtag', 'Content_Type', 'Region', 'Engagement_Level']
   Platform  Hashtag  Content_Type  Region    Views   Likes  Shares  Comments  \
0         0        1             5       2  3239663  288436   94297      5399
1         0        3             1       5  3759036   49515   94487     19525
2         0        6             3       1  3697216  209784   41633     19831
3         1        5             1       1  2878436  149765    9840     42118
4         1        4             0       3  1213710  468518    1746     24547

   Engagement_Level
0                 0
1                 2
2                 2
3                 0
4                 0

Tipe data setelah transformasi:
Platform            Int64
Hashtag             Int64
Content_Type        Int64
Region              Int64
Views               int64
Likes               int64
Shares              int64
Comments            int64
Engagement_Level    Int64
dtype: object

In [10]:
for col, cats in zip(cat_cols, encoder.categories_):
    mapping = {cat: i for i, cat in enumerate(cats)}
    print(f"{col}: {mapping}")

Platform: {'Instagram': 0, 'TikTok': 1, 'Twitter': 2, 'YouTube': 3}
Hashtag: {'#Challenge': 0, '#Comedy': 1, '#Dance': 2, '#Education': 3, '#Fashion': 4, '#Fitness': 5, '#Gaming': 6, '#Music': 7, '#Tech': 8, '#Viral': 9}
Content_Type: {'Live Stream': 0, 'Post': 1, 'Reel': 2, 'Shorts': 3, 'Tweet': 4, 'Video': 5}
Region: {'Australia': 0, 'Brazil': 1, 'Canada': 2, 'Germany': 3, 'India': 4, 'Japan': 5, 'UK': 6, 'USA': 7}
Engagement_Level: {'High': 0, 'Low': 1, 'Medium': 2}

melakukan penyimpanan data, pada data yang telah dilakukan transformasi data kategorik ke data numerik. dataset trends dan dataset students

In [11]:
df_trends.to_csv("/Users/althaaframadhan/Documents/Skripsi/penelitian/transformation/trends_ctn.csv", index=False)